@model List<CodeTask>

<script src="@Href("~/Scripts/Markdown.js")"></script>

@foreach (var task in Model)
{
    <div class="hero-unit" style="background-color: #E6E6E6">
        <div class="pull-left">
            @Html.ActionLink(@task.User.Username, "Index", "Account", new { id = task.User.UserId }, null)
        </div>
        <ul class="nav nav-pills pull-right">  
            <li>@task.Platform.Name</li>
        </ul>
        <div>
            <h3  style="margin-top: 3%; margin-left: 40%;">@Html.ActionLink(@task.Name, "Details", "Task", new { id = task.CodeTaskId }, null)</h3>
            <div class="hero-unit codeTaskContent" style="background-color: #F2F2F2;">@task.Content</div>
            <button class="btn-success">@Html.ActionLink("View", "Details", "Task", new { id = task.CodeTaskId }, null)</button>
        </div>

    </div>
}

