@model QuizCamp.ViewModels.LoginModel
@{



using (Html.BeginForm("LogIn","Account",FormMethod.Post))
{

    <div>
        <div class="control-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="input-xlarge">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="control-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="input-xlarge">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <button class="btn btn-success" type="submit" value="Login">
            LogIn
        </button>
    </div>
}
}