@model String
@Html.Action("Localization", "Home")
@{
    ViewBag.Title = "Changed";
    Layout = "~/Views/Shared/_NotAuthenticatedLayout.cshtml";
}

<div class="text-success pagination-centered" style="margin-top: 10%">
    <h2>@Resources.Resources.ChangedAccountString</h2>
    <h3>@Resources.Resources.PleaseLogInAgain</h3>
    <div id="loginForm" class="hero-unit">
        @RenderPage("~/Views/Shared/_SharedLogin.cshtml")
    </div>
    <p>@Html.ActionLink(@Resources.Resources.Home, "Index", "Home")/p>
</div>
