@model User
@Html.Action("Localization", "Home")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-unit" >
    <h1 style="margin-left: 35%; color: red">@Model.Username</h1>
    <div class="row">
        <div class="span4"></div>
        <div class="span8"><h3>@Model.FirstName @Model.LastName</h3></div>
    </div>
    <div class="row">
        <div class="span4">
           <h2>@Resources.Resources.MyTasks</h2>
             <table class="table table-hover">
                <tr>
                    <th>@Resources.Resources.Tittle</th>
                    <th>@Resources.Resources.Platform</th>
                    <th>@Resources.Resources.Solved</th>
                </tr>
                 <tbody>
                    @foreach (var task in Model.Tasks)
                    {
                        <tr>
                            <th>@Html.DisplayFor(modelTask => task.Name)</th>
                            <th>@Html.DisplayFor(modelTask => task.Platform.Name)</th>
                            <th>@Html.DisplayFor(modelTask => task.SolvedUsers.Count)</th>
                            <th>
                                <button class="btn-success">@Html.ActionLink(@Resources.Resources.View, "Details", "Task", new { id = task.CodeTaskId }, null)</button></th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="span8">
            <h2>@Resources.Resources.TasksISolved</h2>
            <table class="table table-hover">
                <tr>
                    <th>@Resources.Resources.Tittle</th>
                    <th>@Resources.Resources.Author</th>
                    <th>@Resources.Resources.Solved</th>
                </tr>
                <tbody>
                    @foreach (var task in Model.SolvedTasks)
                    {
                        <tr>
                            <th>@Html.DisplayFor(modelTask => task.Name)</th>
                            <th>@Html.DisplayFor(modelTask => task.User.Username)</th>
                            <th>@Html.DisplayFor(modelTask => task.SolvedUsers.Count)</th>
                            <th>
                                <button class="btn-success">@Html.ActionLink(@Resources.Resources.View, "Details", "Task", new { id = task.CodeTaskId }, null)</button></th>
                        </tr>
                    }
                </tbody>
            </table> 
        </div>
    </div>
</div>
