@model QuizCamp.ViewModels.LoginModel
@Html.Action("Localization", "Home")
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_NotAuthenticatedLayout.cshtml";
    
}

@{


    using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
    {
    <div style="margin-left: 45%">
        <h1>@Resources.Resources.Please @Resources.Resources.LogIn</h1>
        <div class="control-label">
            <label>@Resources.Resources.UserName</label>
        </div>
        <div class="input-xlarge">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="control-label">
           <label>@Resources.Resources.Password</label>
        </div>
        <div class="input-xlarge">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <button class="btn btn-large btn-success" type="submit" value="Login">
            @Resources.Resources.LogIn
        </button>
    </div>
    }
}
