@model QuizCamp.ViewModels.TaskViewModel
@Html.Action("Localization", "Home")
@{
    ViewBag.Title = "Edit";
}

@if (Request.IsAuthenticated)
{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_NotAuthenticatedLayout.cshtml";
}

@{
    ViewBag.Title = "AddTask";
}
<script type="text/javascript" src="@Href("~/Scripts/Markdown/MarkdownDeepEditor.js")"></script>
<script type="text/javascript" src="@Href("~/Scripts/Markdown/MarkdownDeepEditorUI.js")"></script>
<script src="@Href("~/Scripts/Markdown/Markdown.js")"></script>
<link rel="stylesheet" href="@Href("~/Scripts/Markdown/mdd_styles.css")" type="text/css" />

@using (Html.BeginForm("Edit", "Task", FormMethod.Post))
{
    <div style="text-align: center" class="well">
        <div>
            <h3 class="control-label">Title</h3>
            <div style="margin-left: 41%" class="input-xlarge">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <h3 class="control-label">Content</h3>
            <div class="mdd_toolbar"></div>
            <div>@Html.TextAreaFor(model => model.Content, new { @class = "mdd_editor", @cols = 50, @rows = 10, })</div>
            <div class="mdd_preview"></div>
            <h3 class="control-label">Answer</h3>
            <div class="input-xlarge" style="margin-left: 41%">
                @Html.EditorFor(model => model.Answer)
                @Html.ValidationMessageFor(model => model.Answer)
            </div>
            <h3 class="control-label">Platform</h3>
            <div id="addPlatformDiv" class="input-xlarge" style="margin-left: 41%" data-url ="@Url.Action("LoadPlatforms")" >
                <select class="text-box single-line" data-val="true" data-val-required="The Name field is required." id="Platform_Name" name="Platform.Name" type="text" value="">
                </select>
            </div>
            <p>
                <button class="btn btn-success" type="submit" value="AddTask">Add It</button>
            </p>
        </div>
</div>
}

